<section>
	<div class="contact_details">
		<div id="name">
			<p>chris kinoti</p>
			<p>hacker & painter</p>
			
		</div>
	
	
		<ul>
			<li>facebook</li>
			<li>twitter</li>
			<li>tumblr</li>
			<li>google+</li>
		</ul>
	</div>
</section>
	